# Dependencies
node_modules/
package-lock.json.backup

# Production & Build Outputs
.output/
.wxt/
dist/
build/
*.zip

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment Variables & Secrets
.env
.env.local
.env.*.local
*.env

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# IDE & Editor Directories
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Scratch and Temporary Files
/scratch/
*.tmp
*.temp
